body  {
    background-color: #181717;
}

.map-img{
    position: relative;
    display: inline-block;
}

#previewMap{
    display: none;
    max-width: 800px;
    max-height: 800px;
}

#svgOverlay{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#monkey-info{
    background-color: white;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 15px;
    width: 200px;
    font-family: Lucida Handwriting, cursive;
    font-size: 14px;
    color: #333;
    display: none;
}

#monkey-info p{
    margin: 5px 0;
}
